/* Blog kedua */

.textBlog1 {
    position: relative;
    font-size: 80px;
    color: blanchedalmond;
    text-shadow: 1px 5px 10px black;
    margin-left:63%;
    margin-top:18%;
  }
  .blog1 img {
    position: relative;
    max-height: 250px;
    height: auto;
    border-radius: 15px;
  }
  .blog1 {
    position: relative;
    height: auto;
    width:auto;
    background-color: white;
    border-radius: 20px;
    margin-right:55%;
    padding:20px;
    text-align: center;
  }
  .blog1 .caption {
    margin-top:20px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 18px;
  }


  /* css asal blog */
  .blog {
    margin-top: 30%;
    height: auto;
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
    margin-left: 55%;
  }
  .blog .caption {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 18px;
  }
  .blog img {
    position: relative;
    max-height: 250px;
    height: auto;
    border-radius: 15px;
  }
  .container-blog {
    display: flex;
  }
  .textBlog {
    position: relative;
    font-size: 80px;
    color: blanchedalmond;
    text-shadow: 10px 10px 10px black;
    margin-top: 140%;
    margin-left: 90%;
  }