@font-face {
  font-family: google;
  src: url("font/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: google1;
  src: url("font/GoogleSans-Regular.ttf");
}

body {
  background-image: url(image/backgroundCatalogue.jpg);
  background-size: cover;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: google;
} */

carousel-item img {
  height: 10px;
}

.destinationTop {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin: 100px 0 20px 0;
}
.destinationTop img {
  width: 40vw;
  aspect-ratio: 1/1;
  /* border-radius: 10px; */
}

.destinationLeft img {
  width: 40vw;
  height: 20vw;
  max-height: 50%;
  margin: 0 20px 0 20px;
  object-fit: cover;
}

.destinationRight img {
  background-size: contain;
}

.destinationBot {
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 0;
}

.destinationRight img {
  width: 40vw;
  height: 20vw;
  max-height: 50%;
  margin: 0 20px 0 0;
  /* border-radius: 10px; */
  object-fit: cover;
}
.destinationBot img {
  width: 40vw;
  aspect-ratio: 1 / 1;
  /* border-radius: 10px; */
}
.packageCarousel {
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
}

.item img {
  border-radius: 10px;
}

.carousel-caption h3 {
  font-size: 100px;
  text-shadow: 10px 10px 20px black;
  font-family: google1;
}

.carousel-caption p {
  font-size: 50px;
  text-shadow: 5px 5px 10px black;
  font-family: google1;
}

.TurkiyeImage {
  position: relative;
}
.textCaptionTurkiye {
  position: absolute;
  bottom: 77%;
  left: 15%;
  color: aliceblue;
  text-shadow: 5px 5px 18px rgb(58, 57, 57);
}

.textCaptionTurkiye h2 {
  font-size: 5vw;
}

.countryPrice {
  font-size: 2vw;
}
/* .pictureCatalogue {
font-size: 100px;
position: relative;
text-align: center;
color: #f2f2f2;
}


.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .textOverlay {
      font-size: 1.5rem;
  }
} */
