@font-face {
  font-family: google;
  src: url("font/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: google1;
  src: url("font/GoogleSans-Regular.ttf");
}
body {
  background-color: #0c101f;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.header {
  font-family: google;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #181d31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 15px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a:hover {
  color: grey;
}

footer {
  font-family: google1;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
/* Padding antara Hotline dengan number phone */
.footerphone {
  padding-top: 20px;
}
.email {
  padding-top: 20px;
}
